@font-face {
  font-family: "helvetica-neue";
  src: url("font/HelveticaNeueLTStdCn.woff");
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-decoration: none;
}

html {
  font-size: 62.5%;


}

.main {
  background: #4FACDB;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main__paragraphs-container {
  width: 100%;
  height: 58vh;
}

.main__paragraphs-container__logo-container {
  top: 8%;
  left: 40%;
  width: 100%;
}

@-webkit-keyframes logo-move {
from {top: 8%;}
to {top: 0.5%;}
from {left: 40%;}
to {left: -5%}
from {transform: scale(1.0)}
to {transform: scale(0.8)}
}

@keyframes logo-move {
  from {top: 8%;}
  to {top: 0.5%;}
  from {left: 40%;}
  to {left: -5%}
  from {transform: scale(1.0)}
  to {transform: scale(0.8)}
  }

.main__paragraphs-container__logo-container--move {
  -webkit-animation: logo-move 0.4s 1;
  -moz-animation: logo-move 0.4s 1;
  animation: logo-move 0.4s 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  animation-timing-function: linear;
}

.main__paragraphs-container__first-paragraph-container {
  color: #fff;
  font-size: 2.3rem;
  padding-top: 30%;
  letter-spacing: 0.3rem;
  font-family: 'helvetica-neue';
  font-weight: bold;

}

.main__paragraphs-container__first-paragraph-container__content {
  text-transform: uppercase;
  line-height: 2.8rem;
  text-align: center;
  right: -120%;
}

.paragraph-content-move {
  -webkit-animation: paragraph-content-move 0.55s forwards;
  -moz-animation: paragraph-content-move 0.55s forwards;
  animation: paragraph-content-move 0.55s forwards;
  animation-timing-function: linear;
}

@-webkit-keyframes paragraph-content-move {
from {right: -120%;}
to {right: -2%;}
}

@keyframes paragraph-content-move {
from {right: -120%;}
to {right: -2%;}
}

.element-hidden {
  opacity: 0;
  transition: opacity 0.65s ease-in-out;
  -moz-transition: opacity 0.65s ease-in-out;
  -webkit-transition: opacity 0.65s ease-in-out;
}

.display-none {
  display: 'none';
}

.main__paragraphs-container__second-paragraph-container {
  display: none;
  color: #fff;
}

.main__paragraphs-container__second-paragraph-container__content {
  text-transform: uppercase;
  text-align: center;
  font-family: 'helvetica-neue';
  right: -120%;
}

.main__paragraphs-container__second-paragraph-container__content__1st-and-2nd-child-style {
  font-size: 2.5rem;
  line-height: 2.8rem;
  letter-spacing: 0.35rem;
}

.main__paragraphs-container__second-paragraph-container__content__3rd-child-style {
  padding-top: 10%;
  line-height: 2.2rem;
  font-size: 1.9rem;
  letter-spacing: 0.3rem;
}

.main__paragraphs-container__second-paragraph-container__content__last-child-style {
  padding-top: 7%;
  font-size: 6.3rem;
}

.main__paragraphs-container__logo-container__img {
  width: 20%;
  text-align: center;
}

.main__media-container {
  height: 42vh;
}

.main__media-container__video {
  max-height: 100%;
  width: 100%;
  display: block;
  margin: auto;
}

.main__paragraphs-container__fixed-paragraph-container {
  position: absolute;
  top: 85%;
  padding: 0 4%;
  margin: auto;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  line-height: 1.2rem;
  color: #fff;
  opacity: 0;
  transition-delay: 1.5s;
  transition: opacity 1s ease-in-out;
  font-family: 'helvetica-neue';
}

.main__paragraphs-container__fixed-paragraph-container__content__link {
  text-decoration: underline;
}

.main__paragraphs-container__fixed-paragraph-container--visible {
  opacity: 1;
}

.main__paragraphs-container__third-paragraph-container {
  display: none;
  color: #fff;
  font-size: 1.58rem;
  padding-top: 5%;
  width: 80%;
  margin: auto;
}

.main__paragraphs-container__third-paragraph-container__content {
  text-transform: uppercase;
  text-align: right;
  font-family: 'helvetica-neue';
  right: -120%;
  font-weight: bold;
}

.main__paragraphs-container__third-paragraph-container__content__1st-child-style {
  font-size: 3.1rem;
  letter-spacing: 0.3rem;
}

.main__paragraphs-container__third-paragraph-container__content__2nd-child-style {
  padding-top: 6%;
  font-size: 6.15rem;
  letter-spacing: 0.51rem;
  line-height: 4.73rem;
}

.main__paragraphs-container__third-paragraph-container__content__3rd-child-style {
  padding-top: 1%;
  font-size: 2.9rem;
  letter-spacing: 0.3rem;
}

.main__paragraphs-container__third-paragraph-container__content__4th-child-style {
  padding-top: 4%;
  font-size: 4.5rem;
  letter-spacing: 0.45rem;
}

.main__paragraphs-container__third-paragraph-container__content__4th-child-style__span-stars {
  font-size: 1.9rem;
  font-family: 'helvetica-neue';
  font-weight: bold;
  vertical-align: top;
}

.main__paragraphs-container__last-paragraph-container {
  display: none;
  color: #fff;
  padding: 15% 0 13% 0;
}

.main__paragraphs-container__last-paragraph-container__content {
  text-transform: uppercase;
  line-height: 2.2rem;
  font-size: 1.9rem;
  text-align: center;
  font-family: 'helvetica-neue';
  font-weight: bold;
  opacity: 0;
}

.main__paragraphs-container__last-paragraph-container__content--opacity {
  -webkit-animation: last-paragraph-opacity 0.6s forwards;
  -moz-animation: last-paragraph-opacity 0.6s forwards;
  animation: last-paragraph-opacity 0.6s forwards;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes last-paragraph-opacity {
from {opacity: 0;}
to {opacity: 1;}
}

@keyframes last-paragraph-opacity {
from {opacity: 0;}
to {opacity: 1;}
}

.main__paragraphs-container__last-paragraph-container__button {
  opacity: 0;
  border: 0.15rem solid #fff;
  width: 55%;
  margin: auto;
}

.main__paragraphs-container__last-paragraph-container__button__link {
  display: flex;
  width: 100%;
  padding: 3% 2% 1% 2%;
}

.main__paragraphs-container__last-paragraph-container__button__link__text {
  text-transform: uppercase;
  text-align: left;
  font-family: 'helvetica-neue';
  color: #fff;
  font-size: 1.2rem;
  margin: auto;
  padding-left: 1%;
  vertical-align: bottom;
  letter-spacing: 0.15rem;
  width: 85%;
}

.main__paragraphs-container__last-paragraph-container__button__link__icon-container {
  width: 15%;
  text-align: center;
}

.main__paragraphs-container__last-paragraph-container__button__link__icon-container-img {
  width: 39%;
}

.main__media-container__map-container {
  height: 42vh;
  position: absolute;
  bottom: -42vh;
  width: 100%;
  text-align: center;
}

.main__media-container__map-container--move {
  -webkit-animation: map-move 0.7s forwards;
  -moz-animation: map-move 0.7s forwards;
  animation: map-move 0.7s forwards;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes map-move {
from {bottom: -47vh;}
to {bottom: 0;}
}

@keyframes map-move {
from {bottom: -47vh;}
to {bottom: 0;}
}

.main__info-container {
  position: absolute;
  z-index: 2;
  bottom: 1%;
  right: 1%;
  width: 4%;
}

.main__info-container__link__img {
  width: 100%;
}
